﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link type="text/css" rel="stylesheet" href="~/css/SteelStyle.css"/>
    <link type="text/css" rel="stylesheet" href="~/css/Component.SteelStyle.css"/>
</head>
<body>
    @RenderBody()
</body>
</html>
