﻿@model IndexViewModel
@using Site.Helpers
@{

    ViewData["Title"] = "Index";
}

<div class="MarginHorizontalAuto" style="width: 1200px">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <span>Source: @Html.DropDownListFor(x => x.SelectedChannel, Model.RenderChannels, "All")</span>
        <div>
            <div>
                <span>@Html.RadioButton("Sort", "Date") Sort by date</span>
                <span>@Html.RadioButton("Sort", "Channel") Sort by channel</span>
            </div>
            <button type="submit">See</button>
        </div>
    }
    <div class="FullWidth">
        <div class="Row ContentHorizontalSpaceBetween FullWidth SmallMarginBottom">
            <span class="Column-2 SmallPadding">Channel</span>
            <span class="Column-3 SmallPadding">Name</span>
            <span class="Column-6 SmallPadding">Description</span>
            <span class="Column-1 SmallPadding">Date Publish</span>
        </div>
        @foreach (var item in Model.Articles)
        {
            <div class="Row FullWidth SmallShadowBlackLight SmallMarginTopBottom">
                <span class="Column-2 SmallPadding">@item.Url</span>
                <span class="Column-3 SmallPadding">@item.Title</span>
                <span class="Column-6 SmallPadding">@item.Description</span>
                <span class="Column-1 SmallPadding">@item.DatePublish</span>
            </div>
        }
    </div>
    <div>
        @PagingHelpers.PageLinks(Html, Model.PageInfo, x => Url.Action("Index", new { sort = Model.Sort, page = x }))
    </div>

</div>

