﻿/* Table */

table td {
    padding: 15px;
}

/* End Table */

button.FlatButton {
    background-color: transparent;
}

[class^="BarToLeft"] {
    position: relative;
    display: block;
}

[class^="BarToLeft"]:before { 
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: 300ms ease all;
    left: 0%;
}

    .BarToLeftBlue:before {
        background: #7b68ee;
    }

    .BarToLeftGreen:before {
        background-color: #00ff00;
    }

    .BarError:before {
        content: "";
        height: 2px;
        width: 100%;
        bottom: 0;
        position: absolute;
        background: #ff0000;
        left: 0%;
    }

.LabelError {
    font-size: 12px;
    color: #ff0000;
}

.LabelToUp {
    color: #454545;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 16px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

input.InputBox:focus, input.InputBox:active {
    color: #111;
}

input.InputBox:focus ~ .LabelToUp, input.InputBox:valid ~ .LabelToUp {
    top: -14px;
    font-size: 12px;
    color: #002137;
}

input.InputBox:focus ~ .BarToLeftBlue:before {
    width: 100%;
}

input.InputBox {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    outline: none;
}

.FlatButtonGreen {
    position: relative;
    vertical-align: top;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #03c03c;
    color: #dcdcdc;
    border: 0;
    border-bottom: 2px solid #32cd32;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #03c03c;
    box-shadow: inset 0 -2px #03c03c;
}

.FlatButtonGreen:focus ~ .BarToLeftGreen:before, .FlatButtonGreen:hover ~ .BarToLeftGreen:before {
    width: 100%;
}

.FlatButtonGreen:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.25);
    font-weight: bold; 
}

.ButtonGreen {
    color: white;
    background-color: #0bda51;
    box-shadow: 0 -3px #03c03c inset;
    transition: 0.2s;
}

    .ButtonGreen:hover {
        background-color: #03c03c;
    }

    .ButtonGreen:active {
        background-color: #008000;
    }

.ButtonRed {
    color: white;
    background-color: #ff0000;
    box-shadow: 0 -3px #f80000 inset;
    transition: 0.2s;
}

    .ButtonRed:hover {
        background-color: #f80000;
    }

    .ButtonRed:active {
        background-color: #ff2b2b;
    }

.Modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(50, 50, 50, 0.45);
}

.ModalDialog {
    max-width: 500px; /* TODO @media */
    margin: 10vh auto;
    position: relative;
    width: auto;
}

.ModalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.SmallScroll::-webkit-scrollbar {
    width: 12px;
}

.SmallScroll::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

.SmallScroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0px 0px 2px #fff inset;
    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-position: center;
    background-repeat: no-repeat;
}

.SmallScroll::-webkit-scrollbar-track {
    background-color: #424242;
    box-shadow: 0px 0px 5px #000 inset;
    border-radius: 5px;
}

.SmallScroll::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
} 