﻿html {
    height: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}

* {
    margin: 0;
    box-sizing:border-box;
}

button {
    outline: none;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

/* Flex */

.Row, 
.RowRevers,
.Column,
.ColumnRevers {
    display: flex;
} 

.Row, .RowBig, .RowMedium, .RowSmall {
    flex-direction: row;
}

.RowRevers, .RowReversBig, .RowReversMedium, .RowReversSmall {
    flex-direction: row-reverse;
}

.Column {
    flex-direction: column;
}

.ColumnRevers, .ColumnReversBig, .ColumnReversMedium, .ColumnReversSmall {
    flex-direction: column-reverse;
}


.Column-1, .Column-2, .Column-3, .Column-4, .Column-5,
.Column-6, .Column-7, .Column-8, .Column-9, .Column-10,
.Column-11, .Column-12,
.ColumnBig-1, .ColumnBig-2, .ColumnBig-3, .ColumnBig-4, .ColumnBig-5,
.ColumnBig-6, .ColumnBig-7, .ColumnBig-8, .ColumnBig-9, .ColumnBig-10,
.ColumnBig-11, .ColumnBig-12,
.ColumnMedium-1, .ColumnMedium-2, .ColumnMedium-3, .ColumnMedium-4, .ColumnMedium-5,
.ColumnMedium-6, .ColumnMedium-7, .ColumnMedium-8, .ColumnMedium-9, .ColumnMedium-10,
.ColumnMedium-11, .ColumnMedium-12, 
.ColumnSmall-1, .ColumnSmall-2, .ColumnSmall-3, .ColumnSmall-4, .ColumnSmall-5,
.ColumnSmall-6, .ColumnSmall-7, .ColumnSmall-8, .ColumnSmall-9, .ColumnSmall-10,
.ColumnSmall-11, .ColumnSmall-12,
.ColumnTiny-1, .ColumnTiny-2, .ColumnTiny-3, .ColumnTiny-4, .ColumnTiny-5,
.ColumnTiny-6, .ColumnTiny-7, .ColumnTiny-8, .ColumnTiny-9, .ColumnTiny-10,
.ColumnTiny-11, .ColumnTiny-12 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.Column-1 {
    width: 8.333%;
}

.Column-2 {
    width: 16.666%;
}

.Column-3 {
    width: 25%
}

.Column-4 {
    width: 33.333%;
}

.Column-5 {
    width: 41.666%;
}

.Column-6 {
    width: 50%;
}

.Column-7 {
    width: 58.333%;
}

.Column-8 {
    width: 66.666%;
}

.Column-9 {
    width: 75%;
}

.Column-10 {
    width: 83.333%;
}

.Column-11 {
    width: 91.666%;
}

.Column-12 {
    width: 100%;
}

.Row-3 {
    height: 25%;
}

.Row-9 {
    height: 75%;
}

/* Flex Position Content */

.ContentAlignStart {
    align-items: flex-start;
}

.ContentAlignEnd {
    align-items: flex-end;
}

.ContentAlignStretch {
    align-items: stretch;
}

.ContentAlignCenter {
    align-items: center;
}

.ContentHorizontalStart {
    justify-content: flex-start;
}

.ContentHorizontalEnd {
    justify-content: flex-end;
}

.ContentHorizontalCenter {
    justify-content: center;
}

.ContentHorizontalSpaceBetween {
    justify-content: space-between;
}

.ContentHorizontalSpaceAround {
    justify-content: space-around;
}

.SelfContentAlignStart {
    align-self: flex-start;
}

.SelfContentAlignEnd {
    align-self: flex-end;
}

.SelfContentAlignCenter {
    align-self: center;
}

/* End Flex Position Content*/

/* End Flex */

/* TextAlign */

.TextAlignCenter {
    text-align: center;
}

/* End TextAlign */

/* Position */

.Relative {
    position: relative;
}

.Fixed {
    position: fixed;
}

.FixedVertical {
    left: 0;
    right: 0;
}

.Center {
    position: center;
}

/* End Position */

/* Display */

.Block {
    display: block;
}

.DisplayInvisible {
    display: none;
}

/* End Display */

/* Top/Bottom/Left/Right Zero */

.TopZero {
    top: 0;
}

.BottomZero {
    bottom: 0;
}

.LeftZero {
    left: 0;
}

.RightZero {
    right: 0;
}

.TopBottomLeftRightZero {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* End Top/Bottom/Left/Right Zero */

/* Padding */

.ZeroPadding {
    padding: 0px;
}

.SmallPaddingVertical {
    padding-top: 5px;
    padding-bottom: 5px;
}

.SmallPadding {
    padding: 5px;
}

.NormalPadding {
    padding: 10px;
}

.NormalPaddingHorizontal {
    padding-left: 10px;
    padding-right: 10px;
}


.BigPadding {
    padding: 15px;
}

.InheritPadding {
    padding: inherit;
}

.BigPaddingHorizontal {
    padding-left: 15px;
    padding-right: 15px;
}

/* End Padding*/
/* Margin */
.SmallMargin {
    margin: 5px;
}

.SmallMarginRight {
    margin-right: 5px;
}

.SmallMarginLeft {
    margin-left: 5px;
}

.SmallMarginTopBottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.SmallMarginTop {
    margin-top: 5px;
}

.SmallMarginBottom {
    margin-bottom: 5px;
}


.BigMarginVertical {
    margin-top: 15px;
    margin-bottom: 15px;
}

.MarginHorizontalAuto{
    margin-left: auto;
    margin-right: auto;
}

.MarginAuto {
    margin: auto;
}


/* End Margin */

/* Effects */

.SmallShadowBlackLight {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.TextShadow {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.TextShadowLightWhite {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
}

.TextShadowWhiteNormal {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* End Effects */

/* Border */

.ZeroBorder {
    border: none;
}

.SmallBorderRadius {
    border-radius: .25rem;
}

.NormalBorderRadius {
    border-radius: .5rem;
}

.BigBorderRadius {
    border-radius: 1rem;
}

.SolidBorder {
    border-style: solid;
}

/* End Border */

/* Opacity */

.Show {
    opacity: 1; 
}

.Fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

/* Overflow */

.OverflowAxisYHidden {
    overflow-y: hidden;
}

.OverflowAxisYVisiable {
    overflow-y: visible;
}

.OverflowAxisYScroll {
    overflow-y: scroll;
}

.OverflowAxisYAuto {
    overflow-y: auto;
}

.OverFlowHidden {
    overflow: hidden;
}

/* End Overflow */

/* ListStyle */

.ListStyleNone {
    list-style-type: none;
}

.ListToRow > li {
    display: inline;
}

.ListStyleMarkedCircle {
    list-style-type: circle;
}

.ListStyleMarkedSquare {
    list-style-type: square;
}

.ListStyleMarkedPoint {
    list-style-type: disc;
}

/* End ListStyle */

/* Link */

.UserLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* End Link */

/* TextDecoration */

.TextDecorationNone a {
    text-decoration: none;
}

/* End TextDecoration */

/* ZIndex */

.ZIndex1 *{
    z-index: 1;
}

/* End ZIndex */

/* Other */

a .Button{
    display: block;
}


.Container {
    padding-left: 15px;
    padding-right: 15px;
}

/* Components */

.SwipeButton:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
}

/* End Components */

/* Medias */

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {

    .InvisibleBig, .More.InvisibleMedium {
        display: none;
    }
     

    [class^="ColumnMedium-"], [class^="ColumnSmall-"],
    .RowMedium, .RowSmall, .RowReversMedium, .RowReversSmall,
    .ColumnMedium, .ColumnSmall, .ColumnReversMedium, .ColumnReversSmall {
        display: none;
    }


    .RowBig, .RowReversBig, .ColumnBig, .ColumnReversBig {
        display: flex;
    }

    .ColumnBig{
        flex-direction:column;
    }

    .ColumnBig-1 {
        width: 8.33333333%;
    }

    .ColumnBig-2 {
        width: 16.66666667%;
    }

    .ColumnBig-3 {
        width: 25%;
    }

    .ColumnBig-4 {
        width: 33.33333333%;
    }

    .ColumnBig-5 {
        width: 41.66666667%;
    }

    .ColumnBig-6 {
        width: 50%;
    }

    .ColumnBig-7 {
        width: 58.33333333%;
    }

    .ColumnBig-8 {
        width: 66.66666667%;
    }

    .ColumnBig-9 {
        width: 75%;
    }

    .ColumnBig-10 {
        width: 83.33333333%;
    }

    .ColumnBig-11 {
        width: 91.66666667%;
    }

    .ColumnBig-12 {
        width: 100%;
    }

    .RowBig-1 {
        height: 8.33333333%;
    }

    .RowBig-2 {
        height: 16.66666667%;
    }

    .RowBig-3 {
        height: 25%;
    }

    .RowBig-4 {
        height: 33.33333333%;
    }

    .RowBig-5 {
        height: 41.66666667%;
    }

    .RowBig-6 {
        height: 50%;
    }

    .RowBig-7 {
        height: 58.33333333%;
    }

    .RowBig-8 {
        height: 66.66666667%;
    }

    .RowBig-9 {
        height: 75%;
    }

    .RowBig-10 {
        height: 83.33333333%;
    }

    .RowBig-11 {
        height: 91.66666667%;
    }

    .RowBig-12 {
        height: 100%;
    }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .InvisibleMedium, .Less.InvisibleBig, .More.InvisibleSmall {
        display: none;
    }

    [class^="ColumnBig-"], [class^="ColumnSmall-"], RowBig, RowSmall, ColumnBig, ColumnSmall {
        display: none;
    }

    .RowMedium, .RowReversMedium, .ColumnMedium, .ColumnReversMedium {
        display: flex;
    }

    .ColumnMedium {
        display: flex;
    }

    .RowMedium {
        display: flex;
    }

    .ColumnMedium-1 {
        width: 8.33333333%;
    }

    .ColumnMedium-2 {
        width: 16.66666667%;
    }

    .ColumnMedium-3 {
        width: 25%;
    }

    .ColumnMedium-4 {
        width: 33.33333333%;
    }

    .ColumnMedium-5 {
        width: 41.66666667%;
    }

    .ColumnMedium-6 {
        width: 50%;
    }

    .ColumnMedium-7 {
        width: 58.33333333%;
    }

    .ColumnMedium-8 {
        width: 66.66666667%;
    }

    .ColumnMedium-9 {
        width: 75%;
    }

    .ColumnMedium-10 {
        width: 83.33333333%;
    }

    .ColumnMedium-11 {
        width: 91.66666667%;
    }

    .ColumnMedium-12 {
        width: 100%;
    }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .InvisibleSmall, .Less.InvisibleMedium {
        display: none;
    }

    [class^="ColumnBig-"], [class^="ColumnMedium-"] {
        display: none;
    }

    .RowSmall, .RowReversSmall, .ColumnSmall, .ColumnReversSmall {
        display: flex;
    }

    .ColumnSmall-1 {
        width: 8.33333333%;
    }

    .ColumnSmall-2 {
        width: 16.66666667%;
    }

    .ColumnSmall-3 {
        width: 25%;
    }

    .ColumnSmall-4 {
        width: 33.33333333%;
    }

    .ColumnSmall-5 {
        width: 41.66666667%;
    }

    .ColumnSmall-6 {
        width: 50%;
    }

    .ColumnSmall-7 {
        width: 58.33333333%;
    }

    .ColumnSmall-8 {
        width: 66.66666667%;
    }

    .ColumnSmall-9 {
        width: 75%;
    }

    .ColumnSmall-10 {
        width: 83.33333333%;
    }

    .ColumnSmall-11 {
        width: 91.66666667%;
    }

    .ColumnSmall-12 {
        width: 100%;
    }

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

    .InvisibleExtraSmall, .Less.InvisibleMedium, .Less.InvisibleSmall {
        display: none;
    }

    [class^="ColumnBig-"], [class^="ColumnMedium-"], [class^="ColumnSmall-"] {
        display: none;
    }
}

/* End Medias */

/* MaxWidth */

.MaxWidthBig {
    max-width: 1200px;
}

.MaxWidthMedium {
    max-width: 992px;
}

.MaxWidthSmall {
    max-width: 768px;
}

/* End MaxWidth */

/* Size */

.BigFullHeight {
    height: 100%;
}


.FullHeight {
    height: 100%;
}

.FullWidth {
    width: 100%;
}

/* End Size */

/* Input */

input {
    line-height: 1.77777;
}

/* End Input */